*{
  margin: 0;
  padding: 0;
}


.navbar-style{
  box-shadow: 0 5px 10px #efefef;
  text-transform: uppercase;
  background-color: #F3FFBD;
}

li a{
  color: rgb(75, 46, 1);
  font-size: 16px;
}

.card p{
    color: white;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 60px;
}

.card{
  background-color: #B2DBBF;
  width: 100%;
  position: relative; 
  top: -20px;
}
.card-image{
  width: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40%;
  filter: brightness(40%)
}

