{% extends 'base.html' %}
{% load static %}
	{% block content %}
        <div class="card">
            <img src="{% static 'foto_home.jpg' %}" class="card-imageh">
            <p style="color: white; position: absolute; top: 50%; width: 100%; text-align: center; font-size: 60px;">Welcome to my personal website</p>
        </div>
	{% endblock %}
