{% extends 'base.html' %}
{% load static %}
	{% block content %}
        <div class="card">
            <div class="row">
                <div class="col-sm-8">
                    <h2><b>Pengalaman berorganisasi</b></h2>
                    <ul style="padding-left: 20px;">
                        <li>Wakil ketua Community of Love (COOL) remaja</li>
                            <p>(2019 - now)</p>
                        <li>Anggota tim pelayanan jemaat di bidang musik</li>
                            <p>(2017 - now)</p>
                        <li>Panitia COMPFEST di bidang Capture the Flag</li>
                            <p>(Februari 2020 - Oktober 2020)</p>
                        <li>Anggota tim silabus program Dasar-Dasar Pemrograman 0 (DDP0)</li>
                            <p>(Juli 2020 - September 2020)</p>
                        <li>Mentor program Dasar-Dasar Pemrograman 0 (DDP0)</li>
                            <p>(Agustus 2020 - September 2020)</p>
                        <li>Anggota kegiatan bakti sosial yang diadakan oleh FASILKOM UI angkatan 2019</li>
                            <p>(Desember 2019)</p>
                        <li>Anggota tim paduan suara SMA Grazia Vocalista</li>
                            <p>(Agustus 2016 - April 2019)</p>
                    </ul>
                    <br>
                </div>
                <div class="col-sm-4">
                    <img class="card-imagem"src="{% static 'baksos.jpg' %}" style="transform: rotate(8deg);">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <h2 style="text-align: left; padding-left: 20px;"><b>Contact me</b></h2>
                    <div class="col-sm-1">
                        <a href="https://www.instagram.com/gerrad_nd/">
                            <img class="card-imagem1" src="{% static 'instagram.jpg' %}">                            
                        </a>
                        </div>
                    <div class="col-sm-1">
                        <a href="https://www.facebook.com/gerrad.natanael">
                            <img class="card-imagem1" src="{% static 'facebook.png' %}">
                        </a>
                    </div>
                    <div class="col-sm-1">
                        <a href="http://line.me/ti/p/~gerradnd">
                            <img class="card-imagem1" src="{% static 'line.png' %}">
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <img class="card-imagem" src="{% static 'line_60271748161744.jpg' %}" style="transform: rotate(-8deg);">
                </div>
            </div>
        </div>
	{% endblock %}
