*{
  margin: 0;
  padding: 0;
}

.navbar-style{
  box-shadow: 0 5px 10px #efefef;
  text-transform: uppercase;
  background-color: #F3FFBD;
}

li a{
  color: rgb(75, 46, 1);
  font-size: 16px;
}

ul li{
  font-size: large;
}

p{
  font-size: small ;
}

h2{
  text-align: center;
}


.card{
  background-color: #B2DBBF;
  width: 100%;
  position: relative; 
  top: -20px;
}

.card-imageh{
  width: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40%;
  filter: brightness(40%)
}

.card-imagea{
  width: 50%;
  object-fit: cover;
  display: block;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.card-imagem{
  width: 50%;
  object-fit: cover;
  display: block;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
}

.card-imagem1{
  object-fit: cover;
  display: block;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 50%;
  border-radius: 20%;
}

